In [ ]:
# Dictionary

# Dictionary constructor is dict()
# Dictionary literal is {}
# Dictionary is a combination of key and values pair
# Dictionary support indexing but not slicing
# Dictionary key must be unique and immutable datatype(hashbale)
# Dictionary values may or may not be immutable datatype 
# Dictionary support nesting
# Dictionary has many methods

In [1]:
a=dict()

In [2]:
print(a)

{}

In [3]:
b={}
print(b)

{}

In [4]:
print(a,type(a))

{} <class 'dict'>

In [5]:
print(b,type(b))

{} <class 'dict'>

In [1]:
c={1:'krishna',2:'mohan',3:'sohan',5:"monu"}

In [2]:
print(c)

{1: 'krishna', 2: 'mohan', 3: 'sohan', 5: 'monu'}

In [ ]:
# first vaue is key & second value is value .

# keys has two rules follow :-
# 1> keys must be immutable 
# 2> keys must be unique

In [4]:
c={1:'krishna',2:'mohan',3:'sohan',5:'shyam',2:"ronny"}

In [5]:
print(c)

{1: 'krishna', 2: 'ronny', 3: 'sohan', 5: 'shyam'}

In [ ]:
# If in dict there are two keys will same, means not unique then dict will contain last key & value of that dictionary & this method called over lapping .

In [6]:
d={1:'krishna',10.0:'mohan','name':'sohan',(12,3,4,):'monu',2:"ronny"}

In [8]:
print(d)

{1: 'krishna', 10.0: 'mohan', 'name': 'sohan', (12, 3, 4): 'monu', 2: 'ronny'}

In [ ]:
# Integer - immutable
# Float - immutable 
# String - immutable 
# Tuple - immutable 
# list - mutable (unhashable)
# Set - mutable 
# Dictionary - immutable (hashable)

In [9]:
e={1:10,10.0:'mohan','name':10.99,(12,3,4):[1,2,3,4],2:{1,2,3,4},10:{1:'ramu',2:'shyam'}}

In [10]:
print(e)

{1: 10, 10.0: {1: 'ramu', 2: 'shyam'}, 'name': 10.99, (12, 3, 4): [1, 2, 3, 4], 2: {1, 2, 3, 4}}

In [13]:
f={1:10.99,10.95:'ramu','name':[1,2,3,4],(2,3,6,4,5):{2,3,6,5,56},10:"ram",15.95:{1:'shyam',6:"ronny"}}

In [14]:
print(f)

{1: 10.99, 10.95: 'ramu', 'name': [1, 2, 3, 4], (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}, 10: 'ram', 15.95: {1: 'shyam', 6: 'ronny'}}

In [17]:
# Dictionary support nesting

e={1: 10.99, 10.95: 'ramu', 'name': [1, 2, 3, 4], (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}, 10: 'ram', 15.95: {1: 'shyam', 6: 'ronny'}}

In [18]:
print(e)

{1: 10.99, 10.95: 'ramu', 'name': [1, 2, 3, 4], (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}, 10: 'ram', 15.95: {1: 'shyam', 6: 'ronny'}}

In [ ]:
# Dictionary support indexing

In [23]:
# Methods of Dictionary

# 1> e.keys()

print(e.keys())

dict_keys([1, 10.95, 'name', (2, 3, 6, 4, 5), 10, 15.95])

In [27]:
# Method:2

e.values()
print(e.values())

dict_values([10.99, 'ramu', [1, 2, 3, 4], {2, 3, 5, 6, 56}, 'ram', {1: 'shyam', 6: 'ronny'}])

In [31]:
# Method:3

e.pop(10.95)

'ramu'

In [32]:
print(e)

{1: 10.99, (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}, 10: 'ram', 15.95: {1: 'shyam', 6: 'ronny'}}

In [34]:
# Method:4

e.popitem()

(15.95, {1: 'shyam', 6: 'ronny'})

In [35]:
print(e)

{1: 10.99, (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}, 10: 'ram'}

In [36]:
e.popitem()

(10, 'ram')

In [37]:
print(e)

{1: 10.99, (2, 3, 6, 4, 5): {2, 3, 5, 6, 56}}

In [38]:
# Method:5

e.items()

dict_items([(1, 10.99), ((2, 3, 6, 4, 5), {2, 3, 5, 6, 56})])

In [39]:
# Method:6

e.clear()

In [40]:
print(e)

{}

In [41]:
# Method:7

e.update()

In [44]:
e.update({1:'name',2:'krishna',3:'mohan',4:"sohan"})

In [45]:
print(e)

{1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'}

In [47]:
# Method:8

e.get(2)

'krishna'

In [49]:
e.get(4)

'sohan'

In [50]:
e.get(6)

In [51]:
print(e)

{1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'}

In [53]:
e.get(10,'data is not avl.')

'data is not avl.'

In [54]:
print(e)

{1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'}

In [56]:
f=e

In [61]:
print('e',e)
print('f',f)

e {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'}
f {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'}

In [62]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'} 1663334018624
f {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan'} 1663334018624

In [63]:
# Method:9

e.update()
e.update({10:'mohan'})

In [64]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan', 10: 'mohan'} 1663334018624
f {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan', 10: 'mohan'} 1663334018624

In [65]:
f=e
f=e.copy()

In [66]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan', 10: 'mohan'} 1663334018624
f {1: 'name', 2: 'krishna', 3: 'mohan', 4: 'sohan', 10: 'mohan'} 1663327993792