In [1]:
# Integer

a=10
print(a)

10

In [3]:
print(a,type(a))

10 <class 'int'>

In [4]:
b=int()
print(b,(type(b)))

0 <class 'int'>

In [5]:
d=10
 # decimal no. system 
a=100
bin(a)

'0b1100100'

In [6]:
a=1000
oct(a)

'0o1750'

In [7]:
d=4500
oct(d)

'0o10624'

In [8]:
d=999999
hex(d)

'0xf423f'

In [9]:
d=100
hex(d)

'0x64'

In [11]:
# Float

a=10.
print(a)

10.0

In [12]:
print(a,type(a))

10.0 <class 'float'>

In [13]:
b=float()
print(b)

0.0

In [14]:
d=456.
print(d)

456.0

In [15]:
e=4545.
print(e)

4545.0

In [16]:
a=2e10
print(a)

20000000000.0

In [18]:
d=2e100
print(d)

2e+100

In [20]:
e=8520e100
print(e)

8.52e+103

In [24]:
s=95623e102
print(s)

9.5623e+106

In [26]:
e=9516652e102
print(e)

9.516652e+108

In [28]:
a=95422616e199
print(a)

9.5422616e+206

In [29]:
# String

a=str()
print(a)

In [30]:
a=str()

In [31]:
a

''

In [32]:
b=str()
b

''

In [33]:
print(b,type(b))

 <class 'str'>

In [34]:
c=""
print(c)

In [35]:
print(c,type(c))

 <class 'str'>

In [36]:
a='name'
print(a)

name

In [37]:
b='prince'
print(b)

prince

In [38]:
c="krishna"
print(c)

krishna

In [39]:
c[4]

'h'

In [40]:
c[-3]

'h'

In [41]:
c[-6]

'r'

In [42]:
c[5]

'n'

In [43]:
c[0]

'k'

In [44]:
c[5]

'n'

In [47]:
c[-7]

'k'

In [48]:
c[6]

'a'

In [49]:
c[0:7]

'krishna'

In [50]:
c[1:5]

'rish'

In [51]:
c[1:6:1]

'rishn'

In [53]:
c[-1:5:-1]

'a'

In [58]:
c[-1:-6:-1]

'anhsi'

In [59]:
c[-1::-2]

'ahik'

In [61]:
c[-1:-8:-1]

'anhsirk'

In [63]:
c[-1:-7:-1]

'anhsir'

In [64]:
a='krishna'
b='kumar'
print(a+b)

krishnakumar

In [65]:
print(a,b)

krishna kumar

In [67]:
print(a,b, sep=' ')

krishna kumar

In [3]:
c="krishna"
print(c)

krishna

In [5]:
c[-1:-7:-1]

'anhsir'

In [6]:
c[-1:-8:-1]

'anhsirk'

In [7]:
c[-1::-1]

'anhsirk'

In [8]:
c[::-1]

'anhsirk'

In [9]:
c[::-2]

'ahik'

In [10]:
c[0:7:1]

'krishna'

In [11]:
c[0::1]

'krishna'

In [12]:
c[::]

'krishna'

In [13]:
c[:]

'krishna'

In [14]:
# Methods of string

a='krishna'
a.capitalize()

'Krishna'

In [15]:
print(a)

krishna

In [16]:
b=a.capitalize()

In [17]:
print(b)

Krishna

In [18]:
a.title()

'Krishna'

In [19]:
c='krishna kumar'
print(c)

krishna kumar

In [20]:
c.title()

'Krishna Kumar'

In [21]:
c.capitalize()

'Krishna kumar'

In [26]:
c.upper()

'KRISHNA KUMAR'

In [29]:
c.casefold()

'krishna kumar'

In [30]:
e='NNkrishna@GMAIL.COM'
e.casefold()

'nnkrishna@gmail.com'

In [31]:
e.strip()

'NNkrishna@GMAIL.COM'

In [36]:
e.count('O')

1

In [38]:
e.index('i')

4

In [39]:
f='krishna'
f.index('kri')

0

In [43]:
f.endswith('r')

False

In [44]:
f.isalpha()

True

In [45]:
f.isnumeric()

False

In [46]:
f.isalnum()

True

In [47]:
# List 

a=list()

In [48]:
print(a)

[]

In [49]:
print(a,type(a))

[] <class 'list'>

In [51]:
c=[1,2,3,10.56,'krishna',[1,2,3,5,6]]

In [52]:
print(c)

[1, 2, 3, 10.56, 'krishna', [1, 2, 3, 5, 6]]

In [53]:
d=[2,3,5,6,10.56,'name',[3,5,6,2,3]]

In [54]:
print(d)

[2, 3, 5, 6, 10.56, 'name', [3, 5, 6, 2, 3]]

In [55]:
d[4]

10.56

In [56]:
d[6]

[3, 5, 6, 2, 3]

In [57]:
d[0:6]

[2, 3, 5, 6, 10.56, 'name']

In [59]:
d[-1:-6:-1]

[[3, 5, 6, 2, 3], 'name', 10.56, 6, 5]

In [60]:
d[-2:-7:-2]

['name', 6, 3]

In [62]:
d[0:7]

[2, 3, 5, 6, 10.56, 'name', [3, 5, 6, 2, 3]]

In [64]:
d[6]=e

[3, 5, 6, 2, 3]

In [65]:
e=[3, 5, 6, 2, 3]

In [66]:
print(e)

[3, 5, 6, 2, 3]

In [67]:
e[2]

6

In [68]:
d[6][2]

6

In [69]:
f=[2,3,5,6,4,8,9,[2,3,4,5,6,9,6]]
print(f)

[2, 3, 5, 6, 4, 8, 9, [2, 3, 4, 5, 6, 9, 6]]

In [70]:
f[6]

9

In [76]:
f[7]=g

In [73]:
g=[2, 3, 4, 5, 6, 9, 6]

In [74]:
print(g)

[2, 3, 4, 5, 6, 9, 6]

In [75]:
g[5]

9

In [77]:
f[7][5]

9

In [78]:
f[1:4]

[3, 5, 6]

In [79]:
f[0:5]

[2, 3, 5, 6, 4]

In [80]:
c=[1,2,3,6,45,5]
d=[1,2,6,5,6,6]
print(c+d)

[1, 2, 3, 6, 45, 5, 1, 2, 6, 5, 6, 6]

In [81]:
print(c,d)

[1, 2, 3, 6, 45, 5] [1, 2, 6, 5, 6, 6]

In [82]:
# methods of list 

a=[]
print(a)

[]

In [84]:
print(a,(type(a)))

[] <class 'list'>

In [85]:
print(id(a))

2798689558528

In [87]:
a.append(1)

In [88]:
print(a)

[1]

In [89]:
print(a,type(a))

[1] <class 'list'>

In [90]:
print(id(a))

2798689558528

In [91]:
a.append(10.56)
print(a)

[1, 10.56]

In [92]:
print(a,type(a),id(a))

[1, 10.56] <class 'list'> 2798689558528

In [93]:
a.append('krishna')
print(a,type(a),id(a))

[1, 10.56, 'krishna'] <class 'list'> 2798689558528

In [94]:
a.copy()

[1, 10.56, 'krishna']

In [95]:
b=a.copy()

In [96]:
print(b,type(b),id(b))

[1, 10.56, 'krishna'] <class 'list'> 2798689344128

In [99]:
c=a

In [101]:

print(a,type(a),id(a))
print(c,type(c),id(c))

[1, 2, 3, 6, 45, 5] <class 'list'> 2798689197184
[1, 2, 3, 6, 45, 5] <class 'list'> 2798689197184

In [102]:
c=a.copy()

In [103]:
print(c,type(c),id(c))

[1, 2, 3, 6, 45, 5] <class 'list'> 2798690073024

In [104]:
print(a)

[1, 2, 3, 6, 45, 5]

In [106]:
a.count(5)

1

In [109]:
d=[1,2,3,6,[1,2,3,6]]
print(d)

[1, 2, 3, 6, [1, 2, 3, 6]]

In [111]:
d.count(2)

1

In [112]:
d.append([1,2,3,6])

In [113]:
print(d)

[1, 2, 3, 6, [1, 2, 3, 6], [1, 2, 3, 6]]

In [115]:
d.extend([1,2,3,4,5])

In [116]:
print(d)

[1, 2, 3, 6, [1, 2, 3, 6], [1, 2, 3, 6], 1, 2, 3, 4, 5]

In [117]:
d.clear()

In [118]:
print(d)

[]

In [119]:
d.extend('krishna')

In [120]:
print(d)

['k', 'r', 'i', 's', 'h', 'n', 'a']

In [121]:
d.index('r')

1

In [123]:
d.insert(4,20)

In [124]:
print(d)

['k', 'r', 'i', 's', 20, 'h', 'n', 'a']

In [126]:
d.pop()

'a'

In [128]:
d.pop(3)

's'

In [129]:
print(d)

['k', 'r', 'i', 20, 'h', 'n']

In [131]:
d.remove('i')

In [132]:
print(d)

['k', 'r', 20, 'h', 'n']

In [133]:
d.reverse()

In [134]:
print(d)

['n', 'h', 20, 'r', 'k']

In [135]:
d.reverse()

In [136]:
print(d)

['k', 'r', 20, 'h', 'n']

In [138]:
a=[2,3,5,4,66,99,4,5,6,14,1,3]

In [139]:
print(a)

[2, 3, 5, 4, 66, 99, 4, 5, 6, 14, 1, 3]

In [140]:
a.sort()

In [141]:
print(a)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 14, 66, 99]

In [144]:
a.reverse()

In [145]:
print(a)

[99, 66, 14, 6, 5, 5, 4, 4, 3, 3, 2, 1]

In [146]:
# Tuple 

a=tuple()
print(a)

()

In [147]:
print(a,type(a),id(a))

() <class 'tuple'> 140735046665688

In [1]:
c=(1,2,3,5,4,45)
print(c)

(1, 2, 3, 5, 4, 45)

In [2]:
c[5]

45

In [3]:
c[-6]

1

In [4]:
c[-2]

4

In [5]:
c[-5]

2

In [6]:
c[-6]

1

In [7]:
print(c)

(1, 2, 3, 5, 4, 45)

In [8]:
c[1:4]

(2, 3, 5)

In [9]:
c[0:5]

(1, 2, 3, 5, 4)

In [11]:
c[-1:-5:-1]

(45, 4, 5, 3)

In [12]:
c[0:7:1]

(1, 2, 3, 5, 4, 45)

In [13]:
c[::1]

(1, 2, 3, 5, 4, 45)

In [14]:
c[::]

(1, 2, 3, 5, 4, 45)

In [15]:
d=('krishna')

In [16]:
print(d)

krishna

In [17]:
print(d,type(d))

krishna <class 'str'>

In [18]:
a=['krishna']

In [19]:
print(a,type(a))

['krishna'] <class 'list'>

In [20]:
b=('krishna',)
print(b,type(b),id(b))

('krishna',) <class 'tuple'> 2327027924560

In [24]:
# methods of tuple
# packing method

z=2,3,4,2,'krishna','mohan',34.09
print(z)

(2, 3, 4, 2, 'krishna', 'mohan', 34.09)

In [27]:
# unpacking


a,b,c,d,e,f,g=z
print(a)

2

In [29]:
k,l,*m=z

In [30]:
print(k)

2

In [31]:
print(l)

3

In [32]:
print(m)

[4, 2, 'krishna', 'mohan', 34.09]

In [33]:
print(*m)

4 2 krishna mohan 34.09

In [35]:
a,*b,c=(3,12,6,5,56,12)
print(a)

3

In [36]:
print(c)

12

In [37]:
print(b)

[12, 6, 5, 56]

In [38]:
# Set

a=set()

In [39]:
print(a)

set()

In [40]:
b={1,2,2,3,3,3,4,4,4,5,5,6}

In [41]:
print(b)

{1, 2, 3, 4, 5, 6}

In [43]:
a={1,2,2.23,'krishna',(1,2,5)}

In [44]:
print(a)

{1, 2, 2.23, 'krishna', (1, 2, 5)}

In [45]:
print(a,type(a),id(a))

{1, 2, 2.23, 'krishna', (1, 2, 5)} <class 'set'> 2327034511872

In [47]:
a={1,2,3,4}
b={2,3,36,45}

In [48]:
print(a-b)

{1, 4}

In [50]:
a.difference(b)

{1, 4}

In [5]:
# Dictionary
 
 
a=dict()
print(a)

{}

In [6]:
b={}
print(b)

{}

In [7]:
print(a,type(a),id(a))

print(b,type(b),id(b))

{} <class 'dict'> 1975607664192
{} <class 'dict'> 1975613266432

In [8]:
c={1:'krishna',2:'mohan',3:'sohan',5:'ram'}
print(c)

{1: 'krishna', 2: 'mohan', 3: 'sohan', 5: 'ram'}

In [9]:
c={1:'krishna',2:'mohan',3:'ram',5:'sohan',2:'ronny'}
print(c)

{1: 'krishna', 2: 'ronny', 3: 'ram', 5: 'sohan'}

In [10]:
d={1:'krishna',10.56:'mohan','name':'sohan',(1,2,3,4):'monu',2:'ronny'}

In [11]:
print(d)

{1: 'krishna', 10.56: 'mohan', 'name': 'sohan', (1, 2, 3, 4): 'monu', 2: 'ronny'}

In [18]:
# methods of dictionary


print(d.keys())

dict_keys([1, 10.56, 'name', (1, 2, 3, 4), 2])

In [19]:
print(d.values())

dict_values(['krishna', 'mohan', 'sohan', 'monu', 'ronny'])

In [22]:
# e.pop()

d.pop('name')

'sohan'