In [ ]:
# Integer

# Integer is a, 0-9
# Integer is a constructor int()
# Integer is literal 0

In [1]:
a=10
print(a)

10

In [2]:
print(a,type(a))

10 <class 'int'>

In [3]:
b=int()

In [4]:
print(b)

0

In [5]:
print(b,type(b))

0 <class 'int'>

In [6]:
d=10
print(d)

10

In [7]:
print(d,type(d))

10 <class 'int'>

In [ ]:
# Integer has four steps :-
# 1. Decimal number systerm
# 2. Binary number system
# 3. Octal number system
# 4. Hexadecimal number system

In [8]:
# Decimal to Binary no.conversion system

a=100
bin(a)

'0b1100100'

In [9]:
d=1000
bin(d)

'0b1111101000'

In [10]:
b=19999
bin(b)

'0b100111000011111'

In [11]:
c=15000
bin(c)

'0b11101010011000'

In [12]:
# Decimal to octal no. conversion system

a=1000
oct(a)

'0o1750'

In [13]:
c=1999
oct(c)

'0o3717'

In [14]:
d=1200
oct(d)

'0o2260'

In [15]:
e=100000
oct(e)

'0o303240'

In [16]:
f=198756
oct(f)

'0o604144'

In [17]:
# Decimal to hexadecimal no.conversion system

a=100
hex(a)

'0x64'

In [18]:
b=1900
hex(b)

'0x76c'

In [19]:
c=19999
hex(c)

'0x4e1f'

In [20]:
d=198756
hex(d)

'0x30864'

In [21]:
e=1999999
hex(e)

'0x1e847f'

In [ ]:
# Float 

# float is 0-9.(0,1,2,3,4,5,6,7,8,9)
# float constructor is float()
# float literal is 0.0

In [24]:
a=10.
print(a)

10.0

In [25]:
print(a,type(a))

10.0 <class 'float'>

In [26]:
b=float()

In [27]:
print(b)

0.0

In [28]:
print(b,type(b))

0.0 <class 'float'>

In [29]:
c=0.0
print(c)

0.0

In [30]:
print(c,type(c))

0.0 <class 'float'>

In [31]:
a=2e10

In [32]:
print(a)

20000000000.0

In [33]:
b=5e20

In [34]:
print(b)

5e+20

In [35]:
c=1e10

In [36]:
print(c)

10000000000.0

In [37]:
d=1e20

In [38]:
print(d)

1e+20

In [40]:
e=96e10

In [41]:
print(e)

960000000000.0

In [42]:
a=963e20

In [43]:
print(a)

9.63e+22

In [44]:
b=896523e30

In [45]:
print(b)

8.96523e+35

In [55]:
s=985632e58

In [56]:
print(s)

9.85632e+63

In [63]:
s=985632e58

In [64]:
print(s)

9.85632e+63

In [79]:
e=1235964e300
print(e)

1.235964e+306

In [ ]:
# String 

# String constructor is str()
# String literal is '', "",'''''',""""""
# String is a set of sequence of character
# String support slicing
# String support Concatination
# String is immutable (we can't change once we create )
# String is also known as hashable datatype
# String has various methods
# String support indexing

In [65]:
a=str()

In [66]:
print(a)

In [80]:
a=str()
a

''

In [81]:
b=''
b

''

In [85]:
c=""

In [86]:
print(c,type(c))

 <class 'str'>

In [87]:
d=""""""
d

''

In [88]:
d=""
d

''

In [89]:
print(d,type(d))

 <class 'str'>

In [90]:
# String is a set of sequence of character 

a='name'
print(a)

name

In [91]:
d="prince"
d

'prince'

In [92]:
print(d)

prince

In [93]:
e='ramu'
e

'ramu'

In [94]:
print(e)

ramu

In [96]:
f="mang0"
f

'mang0'

In [97]:
print(f)

mang0

In [98]:
a='hello world'
b="hello world"
c='''hello world'''
d="""hello world"""

In [99]:
print(a+b+c+d)

hello worldhello worldhello worldhello world

In [100]:
print(a,b,c,d)

hello world hello world hello world hello world

In [101]:
print('hello world')
print("hello world")
print('''hello world''')
print("""hello world""")

hello world
hello world
hello world
hello world

In [104]:
print('I am a student')
print ("My name is prince")
print('but currently I am working in a MNC company')
print("tell me something ")

I am a student
My name is prince
but currently I am working in a MNC company
tell me something

In [105]:
"""this is 
         prince 
             and he 
                     is a 
                           student"""

'this is \n         prince \n             and he \n                     is a \n                           student'

In [106]:
d="""this is 
         prince 
             and he 
                     is a 
                           student"""
d

'this is \n         prince \n             and he \n                     is a \n                           student'

In [107]:
print(d)

this is
         prince
             and he
                     is a
                           student

In [112]:
c='''hello






      
      
                                                   world'''
c

'hello\n\n\n\n\n\n\n      \n      \n                                                   world'

In [113]:
print(c)

hello








                                                   world

In [116]:
f="""hello 



        
        
        
            world"""
f

'hello \n\n\n\n        \n        \n        \n            world'

In [117]:
print(f)

hello






            world

In [118]:
print('mango','banana','apple','orange')
print('name','banana','apple','mango')

mango banana apple orange
name banana apple mango

In [119]:
print("mango","orange","apple","watermelon","ramu",'shyam');print("mango","orange","apple","watermelon","ramu",'shyam');

mango orange apple watermelon ramu shyam
mango orange apple watermelon ramu shyam

In [124]:
print("mango","orange","apple","watermelon","ramu",'shyam',sep=" ");print("mango","orange","apple","watermelon","ramu",'shyam');

mango orange apple watermelon ramu shyam
mango orange apple watermelon ramu shyam

In [127]:
print("mango","orange","apple","watermelon","ramu",'shyam',sep=" ",end=" ");print("mango","orange","apple","watermelon","ramu",'shyam');

mango orange apple watermelon ramu shyam mango orange apple watermelon ramu shyam

In [130]:
print("mango","orange","apple","watermelon","ramu",'shyam',sep=' $',end='@ ');print("mango","orange","apple","watermelon","ramu",'shyam');

mango $orange $apple $watermelon $ramu $shyam@ mango orange apple watermelon ramu shyam

In [132]:
print("mango","orange","apple","watermelon","ramu",'shyam',sep=" ",end=" /n");print("mango","orange","apple","watermelon","ramu",'shyam');

mango orange apple watermelon ramu shyam /nmango orange apple watermelon ramu shyam

In [148]:
# String is a indexing

a='khatushyamji'
a

'khatushyamji'

In [149]:
print(a)

khatushyamji

In [150]:
a[1]

'h'

In [151]:
a[0]

'k'

In [154]:
a[8]

'a'

In [155]:
a[-5]

'y'

In [156]:
a[-9]

't'

In [157]:
# String is a slicing

a[0:1]

'k'

In [158]:
a[0:5]

'khatu'

In [159]:
a[0:9]

'khatushya'

In [160]:
a[0:12]

'khatushyamji'

In [161]:
a[1:5]

'hatu'

In [162]:
a[2:9]

'atushya'

In [163]:
a[1:6:1]

'hatus'

In [164]:
a[2:9:2]

'auha'

In [165]:
a[-1:-6:-1]

'ijmay'

In [167]:
a[1:-5:2]

'hts'

In [171]:
a[1:8-3]

'hatu'

In [172]:
a[-1:-8:-3]

'ias'

In [175]:
a[-1:-5:-1]

'ijma'

In [177]:
a[-1:-5:-2]

'im'

In [178]:
a[-1::-3]

'iasa'

In [179]:
a[::-4]

'iyt'

In [180]:
a[0:8:1]

'khatushy'

In [181]:
a[0:13:1]

'khatushyamji'

In [182]:
a[0::1]

'khatushyamji'

In [183]:
a[::]

'khatushyamji'

In [184]:
a[:]

'khatushyamji'

In [185]:
a[::1]

'khatushyamji'

In [186]:
# String is a concatination

a='prince'
b="mittal"

In [187]:
print(a+b)

princemittal

In [188]:
print(a,b)

prince mittal

In [189]:
print(a,b,sep='')

princemittal

In [190]:
print(a,b,sep=' ')

prince mittal

In [192]:
print(a,b,sep=' ',end=' ')

prince mittal

In [ ]:
# Methods of string

In [ ]:
# List

# List constructor is list()
# List literal is []
# List is a set of sequence of elements 
# List is mutable datatype (unhashable)
# List support indexing
# List support slicing
# List support concatination
# List support nested list 
# List support nested slicing
# List has many methods

In [193]:
a=list()

In [194]:
print(a)

[]

In [195]:
b=[]

In [196]:
print(b)

[]

In [197]:
print(a,type(a))

[] <class 'list'>

In [198]:
print(b,type(b))

[] <class 'list'>

In [1]:
# List is a set of sequence of elements 

c=[1,2,3,10.99,'name',[1,2,6,5]]

In [15]:
print(c)

[1, 2, 3, 10.99, 'name', [1, 2, 6, 5]]

In [3]:
d=[5,6,9,10.99,10.85,'sonu',[5,6,9,5,4,6,]]

In [4]:
print(d)

[5, 6, 9, 10.99, 10.85, 'sonu', [5, 6, 9, 5, 4, 6]]

In [5]:
# List support indexing

d[5]

'sonu'

In [6]:
c[5]

[1, 2, 6, 5]

In [8]:
d[6]

[5, 6, 9, 5, 4, 6]

In [9]:
d[4]

10.85

In [16]:
d[-5]

9

In [13]:
d[-1]

[5, 6, 9, 5, 4, 6]

In [10]:
# List support slicing

d[0:4]

[5, 6, 9, 10.99]

In [11]:
c[1:5]

[2, 3, 10.99, 'name']

In [20]:
e=[2,3,6,5,9,10.85,'ram',[2,6,5,4,9]]

In [21]:
print(e)

[2, 3, 6, 5, 9, 10.85, 'ram', [2, 6, 5, 4, 9]]

In [24]:
e[0:5]

[2, 3, 6, 5, 9]

In [26]:
e[1:6]

[3, 6, 5, 9, 10.85]

In [27]:
e[1:6:2]

[3, 5, 10.85]

In [28]:
e[2:6:3]

[6, 10.85]

In [30]:
e[-1:-5:-2]

[[2, 6, 5, 4, 9], 10.85]

In [32]:
e[-1:6:-2]

[[2, 6, 5, 4, 9]]

In [36]:
e[-1:4:-2]

[[2, 6, 5, 4, 9], 10.85]

In [37]:
# List suppot concatination

d=[1,2,3,6,4,6]
e=[2,3,6,5,4,6,9]

In [38]:
print(d+e)

[1, 2, 3, 6, 4, 6, 2, 3, 6, 5, 4, 6, 9]

In [39]:
d=[1,2,3,6,4,6]
e=[2,3,6,5,4,6,9]
print(d,e)

[1, 2, 3, 6, 4, 6] [2, 3, 6, 5, 4, 6, 9]

In [44]:
d=[1,2,3,6,5]+[1,23,6,5,4,]

print([1,2,3,6,5] +[1,23,6,5,4,])

[1, 2, 3, 6, 5, 1, 23, 6, 5, 4]

In [45]:
d=[1,2,3,6,5],[1,23,6,5,4,]

In [46]:
print(d)

([1, 2, 3, 6, 5], [1, 23, 6, 5, 4])

In [47]:
print(d)

([1, 2, 3, 6, 5], [1, 23, 6, 5, 4])

In [48]:
d=[1,2,3,6,5]+[1,23,6,5,4,]
print(d)

[1, 2, 3, 6, 5, 1, 23, 6, 5, 4]

In [54]:
# List support nested list 

a=[25,6,54,4,5,6,9,[2,5,6,4,1,3,6],1,2,3,5,5]
print(a)

[25, 6, 54, 4, 5, 6, 9, [2, 5, 6, 4, 1, 3, 6], 1, 2, 3, 5, 5]

In [55]:
a[6]

9

In [56]:
a[10]

3

In [57]:
a[7]

[2, 5, 6, 4, 1, 3, 6]

In [58]:
b=[2, 5, 6, 4, 1, 3, 6]
print(b)

[2, 5, 6, 4, 1, 3, 6]

In [ ]:
b=a[7]

In [59]:
b[5]

3

In [60]:
a[7][5]             # nested list

3

In [61]:
b[3]

4

In [62]:
a[7][3]            # nested list

4

In [63]:
# List support nested slicing 

d=[52,6,5,4,6,9,4,[2,3,6,5,4,4],2,3,6,6,66]
print(d)

[52, 6, 5, 4, 6, 9, 4, [2, 3, 6, 5, 4, 4], 2, 3, 6, 6, 66]

In [64]:
d[0:4]

[52, 6, 5, 4]

In [65]:
d[1:6]

[6, 5, 4, 6, 9]

In [66]:
d[1:5:2]

[6, 4]

In [67]:
d[2:6:3]

[5, 9]

In [68]:
d[1:9:4]

[6, 9]

In [70]:
d[-1:5:-2]

[66, 6, 2, 4]

In [71]:
d[-2:6:-3]

[6, 2]

In [72]:
d[-4:-5:-2]

[3]

In [74]:
# Methods of list 

a=[]
print(a)

[]

In [75]:
print(a,type(a))

[] <class 'list'>

In [76]:
print(id(a))

3045521252032

In [77]:
# a.append()

print(a)

[]

In [78]:
a.append(1)
print(a)

[1]

In [79]:
print(a,type(a),id(a))

[1] <class 'list'> 3045521252032

In [80]:
a.append(10.0)
print(a)

[1, 10.0]

In [81]:
a.append('name')
print(a)

[1, 10.0, 'name']

In [82]:
a.append([1,2,3,6,5])
print(a)

[1, 10.0, 'name', [1, 2, 3, 6, 5]]

In [83]:
print(id(a))

3045521252032

In [84]:
# a.copy()

a.copy()
b=a.copy()
print(b)

[1, 10.0, 'name', [1, 2, 3, 6, 5]]

In [85]:
print(a,type(a),id(a))

[1, 10.0, 'name', [1, 2, 3, 6, 5]] <class 'list'> 3045521252032

In [86]:
print(id(b))

3045527582208

In [88]:
c=a

In [89]:
print(a,id(a))
print(b,id(b))
print(c,id(c))

[1, 10.0, 'name', [1, 2, 3, 6, 5]] 3045521252032
[1, 10.0, 'name', [1, 2, 3, 6, 5]] 3045527582208
[1, 10.0, 'name', [1, 2, 3, 6, 5]] 3045521252032

In [90]:
c=a.copy()
print(a,id(a))
print(c,id(c))

[1, 10.0, 'name', [1, 2, 3, 6, 5]] 3045521252032
[1, 10.0, 'name', [1, 2, 3, 6, 5]] 3045527607296

In [91]:
print(a)

[1, 10.0, 'name', [1, 2, 3, 6, 5]]

In [93]:
# a.count()
    
a.count(1)

1

In [94]:
a.count(10)

1

In [100]:
d=[1,2,3,5,[1,2,3,6]]

In [102]:
d.count(10)

0

In [103]:
d.count(1)

1

In [104]:
d.count(8)

0

In [105]:
d=[[],[],2,3,5,6,9,[2,3,6,5,]]

In [107]:
d.append([1,2,3,6])
print(d)

[[], [], 2, 3, 5, 6, 9, [2, 3, 6, 5], [1, 2, 3, 6]]

In [109]:
# d.extend()

d.extend([2,3,6,5])

In [110]:
print(d)

[[], [], 2, 3, 5, 6, 9, [2, 3, 6, 5], [1, 2, 3, 6], 2, 3, 6, 5]

In [111]:
d.extend([5,6,5,4])
print(d)

[[], [], 2, 3, 5, 6, 9, [2, 3, 6, 5], [1, 2, 3, 6], 2, 3, 6, 5, 5, 6, 5, 4]

In [112]:
# d.clear()

d.clear()

In [113]:
print(d)

[]

In [114]:
d.extend('name')

In [115]:
print(d)

['n', 'a', 'm', 'e']

In [116]:
d.extend([2,3,5,6,9,8])

In [117]:
print(d)

['n', 'a', 'm', 'e', 2, 3, 5, 6, 9, 8]

In [120]:
e.extend([2,3,5,6,])

In [121]:
print(e)

[2, 3, 6, 5, 4, 6, 9, 2, 3, 5, 6]

In [122]:
# a.index()

a=[2,3,6,5,10.95,5,6,'23']
a.index(6)

2

In [123]:
a.index(10.95)

4

In [125]:
a.index('23')

7

In [126]:
# a.insert()

a=[2,3,6,5,10.95,5,6,'23']

a.insert(1,15)

In [127]:
print(a)

[2, 15, 3, 6, 5, 10.95, 5, 6, '23']

In [128]:
a.insert(5,56)

In [129]:
print(a)

[2, 15, 3, 6, 5, 56, 10.95, 5, 6, '23']

In [130]:
a.insert(6,85)

In [131]:
print(a)

[2, 15, 3, 6, 5, 56, 85, 10.95, 5, 6, '23']

In [132]:
a.insert(8,95)

In [133]:
print(a)

[2, 15, 3, 6, 5, 56, 85, 10.95, 95, 5, 6, '23']

In [134]:
# a.pop()

a=[2,3,6,5,10.95,5,6,'23']

a.pop()

'23'

In [135]:
a.pop()

6

In [136]:
a.pop(5)

5

In [137]:
a.pop()

10.95

In [138]:
a.pop(3)

5

In [139]:
# a.reverse()

a=[2,3,6,5,10.95,5,6,'23']
a.reverse()

In [140]:
print(a)

['23', 6, 5, 10.95, 5, 6, 3, 2]

In [141]:
a.reverse()

In [143]:
print(a)

[2, 3, 6, 5, 10.95, 5, 6, '23']

In [144]:
# a.remove()

a.remove('23')

In [145]:
print(a)

[2, 3, 6, 5, 10.95, 5, 6]

In [146]:
a.remove(10.95)

In [147]:
print(a)

[2, 3, 6, 5, 5, 6]

In [148]:
# b.sort()

b=[23,2,1,5,6,6,6,5,9,9,4,1]

In [149]:
print(b)

[23, 2, 1, 5, 6, 6, 6, 5, 9, 9, 4, 1]

In [150]:
b.sort()

In [151]:
print(b)

[1, 1, 2, 4, 5, 5, 6, 6, 6, 9, 9, 23]

In [155]:
b.sort()

In [156]:
print(b)

[1, 1, 2, 4, 5, 5, 6, 6, 6, 9, 9, 23]

In [157]:
b.reverse()

In [158]:
print(b)

[23, 9, 9, 6, 6, 6, 5, 5, 4, 2, 1, 1]

In [159]:
b=[23, 9, 9, 6, 6, 6, 5, 5, 4, 2, 1, 1]

In [160]:
b[2]

9

In [166]:
b[2]=10

In [167]:
print(b)

[23, 9, 10, 10, 6, 6, 6, 5, 5, 4, 2, 1, 1]

In [168]:
b[1:5]

[9, 10, 10, 6]

In [170]:
b[1:4]=[100]

In [171]:
print(b)

[23, 100, 6, 6, 6, 5, 5, 4, 2, 1, 1]

In [172]:
b[1:6]

[100, 6, 6, 6, 5]

In [174]:
b[1:6]=[200]

In [175]:
print(b)

[23, 200, 5, 4, 2, 1, 1]

In [ ]:
# Tuple

# Tuple constructor is tuple()
# Tuple literal is()
# Tuple is immutable 
# Tuple is support indexing
# Tuple is support slicing
# Tuple is support nested tuple 
# Tuple is faster than list
# Tuple has only two method (index & count)

In [176]:
a=tuple()
print(a)

()

In [177]:
print(a,type(a))

() <class 'tuple'>

In [178]:
b=()
print(b,type(b))

() <class 'tuple'>

In [179]:
c=(1,23,6,4,5,5,6,2,2)

print(c)

(1, 23, 6, 4, 5, 5, 6, 2, 2)

In [180]:
# Tuple Indexing

c[1]

23

In [181]:
c[-2]

2

In [182]:
c[-5]

5

In [183]:
c[7]

2

In [184]:
c[-8]

23

In [185]:
print(c)

(1, 23, 6, 4, 5, 5, 6, 2, 2)

In [186]:
# Tuple slicing

c[1:5]

(23, 6, 4, 5)

In [187]:
c[0:5]

(1, 23, 6, 4, 5)

In [188]:
c[0:8]

(1, 23, 6, 4, 5, 5, 6, 2)

In [190]:
c[-1:5:-2]

(2, 6)

In [191]:
c[-2:6:-3]

(2,)

In [192]:
print(c)

(1, 23, 6, 4, 5, 5, 6, 2, 2)

In [195]:
c[-1:7:-3]

(2,)

In [198]:
d=('name',)
print(d)

('name',)

In [199]:
print(d,type(d))

('name',) <class 'tuple'>

In [202]:
# Tuple support nested tuple

a=(2,3,6,5,4,(2,3,6,5,4),2,6,55)

print(a)

(2, 3, 6, 5, 4, (2, 3, 6, 5, 4), 2, 6, 55)

In [203]:
a[5]

(2, 3, 6, 5, 4)

In [205]:
c=(2, 3, 6, 5, 4)

In [206]:
print(c)

(2, 3, 6, 5, 4)

In [209]:
c[4]

4

In [210]:
a[5][4]

4

In [3]:
# Methods of tuple


a=(2,3,6,5,4,(2,3,6,5,4),2,6,55)
print(a)

(2, 3, 6, 5, 4, (2, 3, 6, 5, 4), 2, 6, 55)

In [4]:
#1.count


a.count(1)

0

In [5]:
a.count(10)

0

In [6]:
a.count(5)

1

In [7]:
a.count(2)

2

In [8]:
a.count(1)

0

In [10]:
#2. index

a.index(6)

2

In [11]:
print(a)

(2, 3, 6, 5, 4, (2, 3, 6, 5, 4), 2, 6, 55)

In [12]:
a.index(3)

1

In [13]:
a.index((2, 3, 6, 5, 4))

5

In [18]:
# 1.Packing method in tuple

Z=2,3,5,6,5,10.99,'MOHAN','name',[2,3,5,6,4]

In [20]:
print(Z)

(2, 3, 5, 6, 5, 10.99, 'MOHAN', 'name', [2, 3, 5, 6, 4])

In [21]:
# 2.UnPacking method in tuple 

a,b,c,d,e,f,g,h,i =Z

In [22]:
print(a)

2

In [23]:
print(i)

[2, 3, 5, 6, 4]

In [24]:
print(g)

MOHAN

In [25]:
print(h)

name

In [27]:
k,l,*m = Z

In [28]:
print(k)

2

In [29]:
print(m)

[5, 6, 5, 10.99, 'MOHAN', 'name', [2, 3, 5, 6, 4]]

In [30]:
print(*m)

5 6 5 10.99 MOHAN name [2, 3, 5, 6, 4]

In [ ]:
# Set

# Set constructor is set()
# Set literal is not available.
# Set is unordered set of sequence of elements 
# Set never allowed mutable datatype inside a set 
# Set doesn't support indexing and slicing 
# Set doesn't support nested set 
# Set doesn't support duplicacy 
# Set has various methods 
# Set is a mutable datatype

In [1]:
a= set()

In [2]:
print(a)

set()

In [3]:
b={1,2,3,2,2,3,3,4,4,4,5,5,5,6}
print(b)

{1, 2, 3, 4, 5, 6}

In [5]:
c={1,10.99,'name',(1,2,3,6,)}

In [6]:
print(c)

{1, 10.99, (1, 2, 3, 6), 'name'}

In [7]:
print(c)

{1, 10.99, (1, 2, 3, 6), 'name'}

In [9]:
print(c,type(c))

{1, 10.99, (1, 2, 3, 6), 'name'} <class 'set'>

In [10]:
print(id(c))

1763515235712

In [18]:
a={1,2,3}
b={3,4,5}
print(a,b)

{1, 2, 3} {3, 4, 5}

In [17]:
print(a-b)

{1, 2}

In [21]:
# Methods of set

a.difference()

{1, 2, 3}

In [22]:
b.difference()

{3, 4, 5}

In [23]:
print(a)

{1, 2, 3}

In [24]:
print(b)

{3, 4, 5}

In [ ]:
a.difference_update()

In [ ]:
# Dictionary

# Dictionary constructor is dict()
# Dictionary literal is {}
# Dictionary is a combination of key & values pair
# Dictionary support indexing but not slicing
# Dictionary key must be unique and immutable datatype (hashable)
# Dictionary values may or may not be immutable datatype 
# Dictionary support nesting
# Dictionary has many methods

In [27]:
a=dict()
print(a)

{}

In [28]:
b={}
print(b)

{}

In [29]:
print(a,type(a),id(a))

{} <class 'dict'> 1763521027072

In [30]:
print(b,type(b),id(b))

{} <class 'dict'> 1763520683904

In [31]:
# Dictionary is a combination of keys and values

c={1:'name',2:'mohan',3:'sohan',5:'ram'}

In [32]:
print(c)

{1: 'name', 2: 'mohan', 3: 'sohan', 5: 'ram'}

In [33]:
c={1:'name',2:'ram',3:'rohan',5:"sonu",2:'ronny'}

In [34]:
print(c)

{1: 'name', 2: 'ronny', 3: 'rohan', 5: 'sonu'}

In [35]:
d={1:'ram',10.99:'rohan','name':'sonu',(1,2,3,4,5):'shyam',2:'ronny'}

In [36]:
print(d)

{1: 'ram', 10.99: 'rohan', 'name': 'sonu', (1, 2, 3, 4, 5): 'shyam', 2: 'ronny'}

In [37]:
e={1:10,10.0:'mohan','name':10.99,(1,2,3,4):[1,2,3,4],2:{1,2,3,4,5},10:{1:'shyam',2:"ram"}}

In [38]:
print(e)

{1: 10, 10.0: {1: 'shyam', 2: 'ram'}, 'name': 10.99, (1, 2, 3, 4): [1, 2, 3, 4], 2: {1, 2, 3, 4, 5}}

In [39]:
# Methods of Dictionary

e.keys()

dict_keys([1, 10.0, 'name', (1, 2, 3, 4), 2])

In [40]:
print(e.keys())

dict_keys([1, 10.0, 'name', (1, 2, 3, 4), 2])

In [41]:
# 2.e.values()

e.values()

dict_values([10, {1: 'shyam', 2: 'ram'}, 10.99, [1, 2, 3, 4], {1, 2, 3, 4, 5}])

In [42]:
print(e.values())

dict_values([10, {1: 'shyam', 2: 'ram'}, 10.99, [1, 2, 3, 4], {1, 2, 3, 4, 5}])

In [44]:
# 3. e.pop()


e.pop((1,2,3,4))

[1, 2, 3, 4]

In [45]:
print(e)

{1: 10, 10.0: {1: 'shyam', 2: 'ram'}, 'name': 10.99, 2: {1, 2, 3, 4, 5}}

In [46]:
# 4. e.popitem()

e.popitem()

(2, {1, 2, 3, 4, 5})

In [47]:
print(e)

{1: 10, 10.0: {1: 'shyam', 2: 'ram'}, 'name': 10.99}

In [49]:
# 5. e.items()

e.items()

dict_items([(1, 10), (10.0, {1: 'shyam', 2: 'ram'}), ('name', 10.99)])

In [50]:
# 6. e.clear()

e.clear()

In [51]:
print(e)

{}

In [52]:
# 7. e.update()

e.update()

In [53]:
e.update({1:'krishna',2:"shyam",3:'ram'})

In [54]:
print(e)

{1: 'krishna', 2: 'shyam', 3: 'ram'}

In [56]:
# 8. e.get()

e.get(1)

'krishna'

In [57]:
e.get(3)

'ram'

In [58]:
e.get(10,'data is not avl.')

'data is not avl.'

In [59]:
print(e)

{1: 'krishna', 2: 'shyam', 3: 'ram'}

In [60]:
f=e

In [61]:
print('e',e)
print('f',f)

e {1: 'krishna', 2: 'shyam', 3: 'ram'}
f {1: 'krishna', 2: 'shyam', 3: 'ram'}

In [62]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'krishna', 2: 'shyam', 3: 'ram'} 1763521057408
f {1: 'krishna', 2: 'shyam', 3: 'ram'} 1763521057408

In [63]:
e.update()

In [64]:
e.update({10:"ram"})

In [66]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'krishna', 2: 'shyam', 3: 'ram', 10: 'ram'} 1763521057408
f {1: 'krishna', 2: 'shyam', 3: 'ram', 10: 'ram'} 1763521057408

In [67]:
f=e

In [68]:
f=e.copy()

In [69]:
print('e',e,id(e))
print('f',f,id(f))

e {1: 'krishna', 2: 'shyam', 3: 'ram', 10: 'ram'} 1763521057408
f {1: 'krishna', 2: 'shyam', 3: 'ram', 10: 'ram'} 1763490621184