In [2]:
#variables 

print("hello world")
print('hello world')
print('''hello world''')
print("""hello world""")

hello world
hello world
hello world
hello world

In [5]:
a="""this 
         is 
            a
               something"""
print(a)

this
         is
            a
               something

In [5]:
print("""hello 


             world""")

hello


             world

In [6]:
print("my name is prince")
print("I am a student")
print("currently I am learn python in ducat")

my name is prince
I am a student
currently I am learn python in ducat

In [8]:
print("banana","apple","mango")

banana apple mango

In [11]:
print("banana","apple","mango",sep=" ");print("banana","apple","mango");

banana apple mango
banana apple mango

In [1]:
print("banana","apple","mango",sep=" ",end=" /n /t ");print("banana","apple","mango");
a=10
print(a)


print("hello world")
print('hello world')
print("""hello world""")
print('''hello world''')

banana apple mango /n /t banana apple mango
10
hello world
hello world
hello world
hello world

In [25]:
a="""this is 
             a doctar
                       and what 
                       
                       
                       
                       
                            about his education"""
print(a)

print("I am a student ")
print("currently working in a MNC company")
print("this time i am learning python from ducat infotech")
print('my name is prince mittal')

this is
             a doctar
                       and what




                            about his education
I am a student
currently working in a MNC company
this time i am learning python from ducat infotech
my name is prince mittal

In [26]:
print('''hello



          world''')

hello



          world

In [27]:
print("""hello 
       
       
       
               world""")

hello



               world

In [38]:
print("apple","banana","mango","watermelon");print("apple","banana","mango","watermelon");

print('apple','banana','mango','watermelon');print('apple','banana','mango','watermelon');

print("apple","banana","mango","watermelon",sep="");print("apple","banana","mango","watermelon");

print("apple","banana","mango","watermelon",sep=" ");print("apple","banana","mango","watermelon");

print("apple","banana","mango","watermelon",sep="$");print("apple","banana","mango","watermelon");

print("apple","banana","mango","watermelon",sep=" ",end="");print("apple","banana","mango","watermelon");

print("apple","banana","mango","watermelon",sep=" ",end=" ");print("apple","banana","mango","watermelon");

print("apple","banana","mango","watermelon",sep=" ",end="/n");print("apple","banana","mango","watermelon");

apple banana mango watermelon
apple banana mango watermelon
apple banana mango watermelon
apple banana mango watermelon
applebananamangowatermelon
apple banana mango watermelon
apple banana mango watermelon
apple banana mango watermelon
apple$banana$mango$watermelon
apple banana mango watermelon
apple banana mango watermelonapple banana mango watermelon
apple banana mango watermelon apple banana mango watermelon
apple banana mango watermelon/napple banana mango watermelon

In [39]:
a=('hello world')
print(a)

hello world

In [42]:
d="""this is
        a
             doctar
                    something
                    
                           and 
                               that 
                                    for 
                                    
                                    
                                    
                                    
                                    
                                    
                                             hello """
print(d)

this is
        a
             doctar
                    something

                           and
                               that
                                    for






                                             hello

In [43]:
e=10#this is a prince 
print(e)

10

In [44]:
_=20
print(_)

20

In [45]:
_=50
print(_)

50

In [46]:
#data types
1.
#integer


a=100
print(a)

100

In [47]:
d=int()
print(d)

0

In [48]:
d=100
print(d,type(d))

100 <class 'int'>

In [49]:
d=10
print(type(d))

<class 'int'>

In [54]:
#decimal to binary conversion

d=100
bin(d)

'0b1100100'

In [55]:
a=19999
bin(a)

'0b100111000011111'

In [56]:
e=560000
bin(e)

'0b10001000101110000000'

In [57]:
a=1999
bin(a)

'0b11111001111'

In [58]:
#decimal to octal conversion

a=100
oct(a)

'0o144'

In [59]:
d=1999
oct(d)

'0o3717'

In [60]:
e=10000
oct(e)

'0o23420'

In [61]:
d=1500
oct(d)

'0o2734'

In [62]:
#decimal to hexadecimal conversion

a=100
hex(a)

'0x64'

In [63]:
d=1000
hex(d)

'0x3e8'

In [64]:
e=1999
hex(e)

'0x7cf'

In [65]:
d=1900
hex(d)

'0x76c'

In [66]:
w=150000
hex(w)

'0x249f0'

In [67]:
2.
#float


a=100.
print(a)

100.0

In [68]:
d=1999.
print(d)

1999.0

In [69]:
e=1.19
print(e)

1.19

In [70]:
w=1.0000000
print(w)

1.0

In [72]:
e=15.
print(e)

15.0

In [73]:
d=float()
print(d)

0.0

In [75]:
d=100.
print(type(d))

<class 'float'>

In [77]:
d=100.
print(d,type(d))

100.0 <class 'float'>

In [79]:
d=0.
print(type(d))

<class 'float'>

In [80]:
print(d,type(d))

0.0 <class 'float'>

In [82]:
a=2e10
print(a)

20000000000.0

In [83]:
d=6e20
print(d)

6e+20

In [84]:
s=6e10
print(s)

60000000000.0

In [85]:
d=5e30
print(d)

5e+30

In [86]:
e=1e20
print(e)

1e+20

In [91]:
b=1e10

print(b)

10000000000.0

In [92]:
b=5e10
print(b)

50000000000.0

In [93]:
b=56e30
print(b)

5.6e+31

In [94]:
b=6e30
print(b)

6e+30

In [95]:
a=20e20
print(a)

2e+21

In [96]:
e=100e50
print(e)

1e+52

In [97]:
a=1500e32
print(a)

1.5e+35

In [98]:
b=1999e35
print(b)

1.999e+38

In [99]:
c=19999e41
print(c)

1.9999e+45

In [100]:
d=100000e96
print(d)

1e+101

In [102]:
e=12345e144
print(e)

1.2345e+148

In [103]:
e=123456e144
print(e)

1.23456e+149

In [104]:
e=1234567e144
print(e)

1.234567e+150

In [107]:
e=12345678e144
print(e)

1.2345678e+151

In [109]:
3.
#string


a=10
print(a)

a='krishna'
print(a)

10
krishna

In [110]:
a=str()
print(a)

In [112]:
d='10'
print(type(d))

<class 'str'>

In [113]:
d=str()
print(d)

In [114]:
print(type(d))

<class 'str'>

In [115]:
(type(d))

str

In [116]:
d=str()
d

''

In [117]:
d=""
d

''

In [118]:
c=""
print(c,type(c))

 <class 'str'>

In [119]:
c=""
c

''

In [121]:
c='0'
print(c,type(c))

0 <class 'str'>

In [122]:
#string is a set of sequence of character

a='prince'
a

'prince'

In [123]:
print(a)

prince

In [124]:
a="prince"
a

'prince'

In [125]:
print(a)

prince

In [126]:
a="""prince
         is 
             a
                 student"""
a

'prince\n         is \n             a\n                 student'

In [127]:
print(a)

prince
         is
             a
                 student

In [15]:
a="prince"
print(a)

a="prince"
b=10
print(a,b)

prince
prince 10

In [4]:
# string is a concatination

a='prince'
b='mittal'
print(a+b)


print(a,b)

print(a,b,sep='')


a='krishna'
print(a)
a

princemittal
prince mittal
princemittal
krishna

'krishna'

In [2]:
a='red'
b='white'
c='blue'
d='yellow'
print(a+b+c+d)
print(a,b,c,d)

print(a)

a='krishna'
print(a)

redwhiteblueyellow
red white blue yellow
red
krishna

In [7]:
# string is a indexing 

a[1]

'r'

In [8]:
a[0]

'k'

In [13]:
a[6]

'a'

In [14]:
a[-1]

'a'

In [15]:
a[-7]

'k'

In [16]:
a[-5]

'i'

In [17]:
# string is a slicing

a[0:1]

'k'

In [18]:
a[0:4]

'kris'

In [19]:
a[0:3]

'kri'

In [20]:
a[0:6]

'krishn'

In [21]:
a[0:5]

'krish'

In [27]:
a[0:10]

'krishna'

In [28]:
a[0:1:1]

'k'

In [30]:
a[1:7:2]

'rsn'

In [33]:
a[0:7:2]

'kiha'

In [34]:
a[-1:-4:-1]

'anh'

In [35]:
a[-1:-5:-1]

'anhs'

In [36]:
a[-1:-7:-1]

'anhsir'

In [37]:
a[-3:-8:-2]

'hik'

In [39]:
a[-1:-8:-1]

'anhsirk'

In [40]:
a[-1::-1]

'anhsirk'

In [41]:
a[-3::-2]

'hik'

In [42]:
a[::-1]

'anhsirk'

In [44]:
a[::-1]

'anhsirk'

In [45]:
a[::-3]

'ask'

In [46]:
a[0:7:1]

'krishna'

In [47]:
a[::1]

'krishna'

In [48]:
a[::]

'krishna'

In [49]:
a[:]

'krishna'

In [50]:
a[-2:-8:-5]

'nk'